---
layout: "theme-base/default"
title: Age spread
permalink: /age-spread
language: en
altLangPrefix: index
dateModified: "2018-11-12"
description: "View differences in risk factors across age groups"
languagetoggle: "false"
sitesearch: "false"
breadcrumb: "false"
secondarymenu: "false"
---
<div class="row">
  <div class="col-xs-12">
    {% assign categories = site.data.age_spread | group_by: 'Category' %}
    {% assign labels = site.data.age_spread_labels %}

    <!-- Dropdown to select category-->
    <div class="category-selector">
        <label for="categories">Choose a topic</label>
        <select id="categories" class="right">
          <optgroup label="Topics">
            <option value="">Click to make a selection</option>
            {% for category in categories %}
              <option value="{{ category.name | slugify }}">{{ category.name }}</option>
            {% endfor %}
          </optgroup>
        </select>
      </div>
  </div>
</div>
{% for category in categories %}
<div class="row">
  <div class="col-xs-12">
    <h2 id="{{ category.name | slugify }}" class="category-section">{{ category.name }}
      <a href="#{{ category.name | slugify }}" class="header-link"><span class="fa fa-link"></span></a>
    </h2>
  </div>
</div>
  {% for row in category.items %}
  <div class="row">
    <div class="col-xs-12">
      <h3 id="{{ row.Indicator | slugify }}" class="chart-section">{{ row.Indicator | replace: "<", "&lt;" }}
        <a href="#{{ row.Indicator | slugify }}" class="header-link"><span class="fa fa-link"></span></a>
      </h3>
    </div>
  </div>
  {% if row.subTitle %}<p>{{ row.subTitle }}</p>{% endif %}
  <div class="row">
    <div class="col-md-8 column">
      {% if row.dataType == 'Rate' or row.dataType == 'Count' %}
        {% include components/bar-rate.html row=row labels=labels %}{% else %}
        {% include components/bar.html row=row labels=labels %}
      {% endif %}
    </div>
    <!-- Sidebar-->
    <div class="col-md-4">
      <div class="well">
        <aside class="related" aria-label="Comment on {{ row.Indicator }}">
          <!-- Description of indicator & comments -->
          {% if row.description %}
            <p class="related-title"><span class="h5">Description:</span></p>
            <p class="related-text">{{ row.description | replace: "<", "&lt;" }}</p>
          {% endif %}
          {% if row.chartComment %}
          <p class="related-title"><span class="h5">Note:</span></p>
            <p class="related-text">{{ row.chartComment | replace: "&lt;", "<" | replace: "&gt;", ">" }}</p>
          {% endif %}
          <!-- Data collection period -->
          {% if row.Note %}
          <p class="related-title"><span class="h5">Data Year:</span></p>
            <p class="related-text">{{ row.Note }}, {{ row.dataSourceYear }}</p>
          {% endif %}
        </aside>
      </div>
    </div>
  </div>
  <!-- End of each chart section with BACK TO TOP link -->
  <div class="row">
    <div class="col-xs-12">
      <a class="pull-right to-top" href="#top"><span class="fa fa-arrow-up"></span> back to top</a>
    </div>
  </div>
  {% endfor %}
{% endfor %}
<script>
  document.addEventListener('DOMContentLoaded', function(){
    document.getElementById('categories').addEventListener('change', function(e){
      dataLayer.push({
        'event': 'selection-change',
        'selected': e.target.value
      });
      window.location.hash = e.target.value;
    });
    document.querySelectorAll('.ct-chart').forEach(function(chart){
      chart.addEventListener('mouseenter', function(e){
        dataLayer.push({
          'event': 'chart-hover',
          'chart': 'age-' + e.target.id.substr(6)
        });
      });
    });
  });
</script>
