<meta name="dcterms.title" content="{{ page.title}} - {{ site.data.i18n-base[page.language].site-title }}" />
<meta name="dcterms.creator" content="{{ page.creator }}" />
<meta name="dcterms.issued" title="W3CDTF" content="{{ page.dateIssued }}" />
<meta name="dcterms.modified" title="W3CDTF" content="{{ page.dateModified }}" />
<meta name="dcterms.subject" title="scheme" content="{{ page.subject }}" />
<meta name="dcterms.language" title="ISO639-2" content="{{ site.data.i18n-base[page.language].lang-code-iso-639-2 }}" />
