.category-selector label{
	display: block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;}
.category-selector select {
    width: 100%;
    padding: 5px;
    border: 2px solid #986b24;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%2851, 51, 51%29"></polygon></svg>');
    background-size: 9px 6px;
    background-position: right center;
    background-origin: content-box;
    background-repeat: no-repeat;
}
.header-link{
    font-size: 0.85em;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;}
h2:hover .header-link, h3:hover .header-link{
    opacity: 1;}