.category-section{
  box-shadow: inset 0px -5px 3px -3px #113c8d;
  padding-bottom: 5px; }
.related .related-text{
  line-height: 1.4375;
  font-size: 1.5rem; }
.related .related-title{
  margin: 0; }
.to-top:visited, .to-top:hover{
  color: initial; }
