/* Site menu overlay */
#main-menu .menu{
  text-shadow: none; }
#main-menu li {
  border: none;  }
#main-menu li a {
  color: #fff;
  text-decoration: none; }
  #main-menu li a:hover, #main-menu li a:focus{
    text-decoration: underline; }
