<div class="table-responsive">
  <table class="table">
    <caption class="wb-inv">List of files avaiable for download</caption>
    <thead>
      <tr>
        <th scope="col">File</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="https://cdn.jsdelivr.net/gh/{{site.github_username}}/RRFSS-data-explorer@gh-pages/_data/age_spread.csv">age_spread.csv</a></td>
        <td>https://cdn.jsdelivr.net/gh/{{site.github_username}}/RRFSS-data-explorer@gh-pages/_data/age_spread.csv</td>
      </tr>
      <tr>
          <td><a href="https://cdn.jsdelivr.net/gh/{{site.github_username}}/RRFSS-data-explorer@gh-pages/_data/gender_gap.csv">gender_gap.csv</a></td>
          <td>https://cdn.jsdelivr.net/gh/{{site.github_username}}/RRFSS-data-explorer@gh-pages/_data/gender_gap.csv</td>
      </tr>
      <tr>
          <td><a href="https://cdn.jsdelivr.net/gh/{{site.github_username}}/RRFSS-data-explorer@gh-pages/_data/income_divide.csv">income_divide.csv</a></td>
          <td>https://cdn.jsdelivr.net/gh/{{site.github_username}}/RRFSS-data-explorer@gh-pages/_data/income_divide.csv</td>
      </tr>
      <tr>
          <td><a href="https://cdn.jsdelivr.net/gh/{{site.github_username}}/RRFSS-data-explorer@gh-pages/_data/municipality.csv">municipality.csv</a></td>
          <td>https://cdn.jsdelivr.net/gh/{{site.github_username}}/RRFSS-data-explorer@gh-pages/_data/municipality.csv</td>
      </tr>
      <tr>
          <td><a href="https://cdn.jsdelivr.net/gh/{{site.github_username}}/RRFSS-data-explorer@gh-pages/_data/trends_over_time.csv">trends_over_time.csv</a></td>
          <td>https://cdn.jsdelivr.net/gh/{{site.github_username}}/RRFSS-data-explorer@gh-pages/_data/trends_over_time.csv</td>
      </tr>
    </tbody>
  </table>
</div>
