<div class="card-row">
  <ul class="card-list list-unstyled">
    <li class="card-wrapper">
      <a href="{{ site.baseurl }}/age-spread">
        <div class="card">
          <div class="card-head age-spread"></div>
          <div class="card-body">
            <span class="h5">Age Spread</span>
            <p>View differences in risk factors across age groups</p>
          </div>
        </div>
      </a>
    </li>
    <li class="card-wrapper">
      <a href="{{ site.baseurl }}/municipality">
        <div class="card">
          <div class="card-head municipality"></div>
          <div class="card-body">
            <span class="h5">Municipality</span>
            <p>Look at risk factors across Durham Region</p>
          </div>
        </div>
      </a>
    </li>
    <li class="card-wrapper">
      <a href="{{ site.baseurl }}/income-divide">
        <div class="card">
          <div class="card-head income-divide"></div>
          <div class="card-body">
            <span class="h5">Income Divide</span>
            <p>Explore the effect of income on health behaviour</p>
          </div>
        </div>
      </a>
    </li>
    <li class="card-wrapper">
      <a href="{{ site.baseurl }}/gender-gap">
        <div class="card">
          <div class="card-head gender-gap"></div>
          <div class="card-body">
            <span class="h5">Gender Gap</span>
            <p>Compare risk factors between males and females</p>
          </div>
        </div>
      </a>
    </li>
    <li class="card-wrapper">
      <a href="{{ site.baseurl }}/trends-over-time">
        <div class="card">
          <div class="card-head trends"></div>
          <div class="card-body">
            <span class="h5">Trends Over Time</span>
            <p>See how behaviours have changed over the years</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
