<div class="container-fluid nvbar">
	<h2 id="st-nav-name">{{ site.data.i18n-base[page.language].tmpl-topics-menu }}</h2>
    <div class="row flex">
        <ul class="list-inline menu">
			<li><a href="/">Home</a></li>
			<li><a href="{{site.baseurl}}/age-spead/">Age Spread</a></li>
            <li><a href="{{site.baseurl}}/gender-gap/">Gender Gap</a></li>
            <li><a href="{{site.baseurl}}/income-divide/">Income Divide</a></li>
            <li><a href="{{site.baseurl}}/municipality/">Municipality</a></li>
            <li><a href="{{site.baseurl}}/trend-over-time/">Trend Over Time</a></li>
        </ul>
    </div>
</div>
