<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="{{ page.language }}" dir="{{ site.data.i18n-base[page.language].lang-dir }}"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ page.language }}" dir="{{ site.data.i18n-base[page.language].lang-dir }}">
<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		{% include base/pagetitle.html %}
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<!-- Meta data -->
		<meta name="description" content="{% if page.description == null or page.description == '' %}{{ site.data.i18n-base[page.language].site-title }}{% else %}{{ page.description }}{% endif %}" />
		<!-- Meta data-->
		{% include base/headresources.html %}
	</head>
	<body {% if page.pageclass == null or page.pageclass == '' %}{% else %}class="{{ page.pageclass }}" {% endif %}vocab="http://schema.org/" typeof="WebPage">
		<ul id="wb-tphp">
			<li class="wb-slc">
				<a class="wb-sl" href="#wb-cont">{{ site.data.i18n-base[page.language].tmpl-skip-cont }}</a>
			</li>
{% unless page.footer == "false" %}
			<li class="wb-slc visible-sm visible-md visible-lg">
				<a class="wb-sl" href="#wb-info">{{ site.data.i18n-base[page.language].tmpl-skip-about-site }}</a>
			</li>
{% endunless %}
{% if page.secondarymenu == "true" %}
			<li class="wb-slc visible-md visible-lg">
				<a class="wb-sl" href="#wb-sec">{{ site.data.i18n-base[page.language].tmpl-skip-section }}</a>
			</li>
{% endif %}
		</ul>
		<header role="banner">
			<div id="wb-bnr" class="container">
{% unless page.languagetoggle == "false" %}
				<section id="wb-lng" class="visible-md visible-lg text-right">
					<h2 class="wb-inv">{{ site.data.i18n-base[page.language].tmpl-lang-select }}</h2>
					{% include base/languagetoggle.html %}
				</section>
{% endunless %}
				<div class="row">
					{% include gcweb/brand.html %}
{% unless page.mobimenu == "false" %}
					<section class="wb-mb-links col-xs-3 visible-sm visible-xs" id="wb-glb-mn" >
						<h2>{{ site.data.i18n-base[page.language].srch-menus }}</h2>
						{% include base/mobimenu.html %}
					</section>
{% endunless %}
{% unless page.sitesearch == "false" %}
					<section id="wb-srch" class="col-xs-6 text-right visible-md visible-lg">
						<h2 class="wb-inv">{{ site.data.i18n-base[page.language].tmpl-search }}</h2>
						{% include gcweb/sitesearch.html %}
					</section>
{% endunless %}
				</div>
			</div>
{% if page.sitemenu == "false" %}
			<span data-trgt="mb-pnl" class="wb-menu hide"></span>
{% else %}
			<nav role="navigation" id="wb-sm" class="wb-menu visible-md visible-lg" data-trgt="mb-pnl" data-ajax-fetch="{% if page.altMenu == null or page.altMenu == '' %}http://wet-boew.github.io/themes-dist/GCWeb/ajax/sitemenu{% else %}{{ page.altMenu }}{% endif %}-{{ page.language }}.html" typeof="SiteNavigationElement">
				<h2 class="wb-inv">{{ site.data.i18n-base[page.language].tmpl-topics-menu }}</h2>
				{% include gcweb/sitemenu.html %}
			</nav>
{% endif %}
{% unless page.breadcrumb == "false" %}
			<nav role="navigation" id="wb-bc" property="breadcrumb">
				<h2 class="wb-inv">{{ site.data.i18n-base[page.language].you-are-here }}</h2>
				{% include base/breadcrumbs.html %}
			</nav>
{% endunless %}
		</header>
		{% include gcweb/promotion.html %}
{% if page.secondarymenu == "true" %}
		<div class="container">
			<div class="row">
{% endif %}
		<main role="main" property="mainContentOfPage" class="{% if page.secondarymenu == "true" %}col-md-9 col-md-push-3{% else %}container{% endif %}">
	{% if page.pageclass == "home" %}}
			<h1 property="name" id="wb-cont" class="wb-inv">{{ page.title }}</h1>
	{% elsif page.pageclass == "secondary" %}
	{% else %}
			<h1 property="name" id="wb-cont">{{ page.title }}</h1>
	{% endif %}
			{% include base/contentbuttons.html %}
			{{ content }}
{% if page.modified == null or page.modified == '' %}
{% else %}
	{% if page.share == "true" %}
			{% include gcweb/datemodified-share.html %}
	{% else %}
			{% include gcweb/datemodified.html %}
	{% endif %}
{% endif %}
		</main>

		<aside class="features">
			{% include gcweb/features.html %}
		</aside>

{% if page.secondarymenu == "true" %}
				<nav role="navigation" id="wb-sec" typeof="SiteNavigationElement" class="col-md-3 col-md-pull-9 visible-md visible-lg">
					<h2>{{ site.data.i18n-base[page.language].tmpl-section-menu }}</h2>
					{% include base/secondarymenu.html %}
				</nav>
			</div>
		</div>
{% endif %}

{% unless page.footer == "false" %}
		<footer role="contentinfo" id="wb-info">
			<nav role="navigation" class="container visible-sm visible-md visible-lg wb-navcurr">
				<h2 class="wb-inv">{{ site.data.i18n-base[page.language].tmpl-about-site }}</h2>
				{% include gcweb/footer.html %}
			</nav>
			{% include gcweb/footerbrand.html %}
		</footer>
{% endunless %}
		{% include base/footerresources.html %}
	</body>
</html>
