<div class="row pagedetails">
	<div class="col-sm-5 col-xs-12 datemod">
		<dl id="wb-dtmd" property="dateModified">
			<dt>{{ site.data.i18n-base[page.language].tmpl-date-mod }}{{ site.data.i18n-base[page.language].space }}</dt>
			<dd><time>{{ page.dateModified }}</time></dd>
		</dl>
	</div>

	<div class="clear visible-xs"></div>

	<div class="col-sm-4 col-md-5 col-xs-6">
		<a href="{{ site.data.i18n-gcweb[page.language].tmpl-feedback-link }}" class="btn btn-default"><span class="glyphicon glyphicon-comment mrgn-rght-sm"></span>{{ site.data.i18n-gcweb[page.language].tmpl-feedback }}<span class="wb-inv">{{ site.data.i18n-gcweb[page.language].tmpl-feedback-hidden }}</span></a>
	</div>

	<div class="col-sm-3 col-md-2 col-xs-6 text-right">
		<div class="wb-share" data-wb-share='{"lnkClass": "btn btn-default"}'></div>
	</div>

	<div class="clear visible-xs"></div>
</div>
