<div class="brand">
	<div class="container">
		<div class="row ">
			<div class="col-xs-6 visible-sm visible-xs tofpg">
				<a href="#wb-cont">{{ site.data.i18n-gcweb[page.language].tmpl-toppage }} <span class="glyphicon glyphicon-chevron-up"></span></a>
			</div>
			<div class="col-xs-6 col-md-12 text-right">
				<object type="image/svg+xml" tabindex="-1" role="img" data="http://wet-boew.github.io/themes-dist/GCWeb/assets/wmms-blk.svg" aria-label="{{ site.data.i18n-base[page.language].tmpl-gc-wmms }}"></object>
			</div>
		</div>
	</div>
</div>
