<aside class="jumbotron sub-promo visible-md visible-lg">
	<div class="container">
		<div class="row">
			<h2 class="wb-inv">{{ site.data.i18n-gcweb[page.language].tmpl-promo-title }}</h2>
			<div class="col-md-6 col-offset-1">
				<h2 class="h3">{% if page.language == "en" }}Remembrance Vignette{% else %}Capsule commémorative{% endif %}</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quas, ipsa error modi sequi odio doloribus vero. Veniam error facilis voluptates Optio.</p>
				<p class="text-center"><a href="video-{{ pagelanguage }}.html" class="btn btn-primary text-center">{% if page.language == "en" %}See the video{% else %}Voir la vidéo{% endif %}</a></p>
			</div>
			<div class="col-md-5 profileimage">
				<a href="video-{{ page.language }}.html"><img src="http://dev3.canada.ca/video/2012veterans.jpg" alt="{% if page.language == "en" %}Remembrance Vignette{% else %}Capsule commémorative{% endif %}" class="thumbnail"></a>
			</div>
		</div>
   </div>
</aside>
