{% assign id = include.row.Indicator | slugify %}
<div id="chart-{{ id }}" class="ct-chart ct-major-eleventh"></div>
<script>
(function () {
  var container = '#chart-{{ id }}';
  var labels = {{ include.labels | jsonify }};
  var row = {{ include.row | jsonify }};
  // Construct array of objects from data using indicators
  var series = labels.map(function (col) {
    return row[col] || null
  });
  var upper = labels.map(function (col) {
    return row[col + 'ucl'] || null
  });
  var lower = labels.map(function (col) {
    return row[col + 'lcl'] || null
  });
  var chartData = {
    labels: labels,
    series: [series]
  };
  var chartOpts = {
    low: 0,
    high: 1,
    onlyInteger: true,
    showArea: true,
    fullWidth: true,
    lineSmooth: Chartist.Interpolation.none({
      fillHoles: false,
    }),
    axisY: {
      scaleMinSpace: 30,
      labelInterpolationFnc: function (value) {
        // do whatever math operation you want here
        return Math.round(value * 100) + '%';
      }
    },
    axisX: {
      showGrid: false,
      labelOffset: { x: -15, y: 5 }
    },
    plugins: [
      Chartist.plugins.tooltip({
        class: 'chartist-tooltip',
        tooltipFnc: function(_, value) {
          // do whatever math operation you want here
          return Math.round(value * 1000) / 10 + '%';
        }
      }),
      Chartist.plugins.ctAccessibility({
        caption: '{{ row.Indicator }}',
        seriesHeader: 'year',
        valueTransform: Chartist.noop
      }),
      Chartist.plugins.errorBars({
        horizontal: false,
        confidenceLimit: {
          upper: [upper],
          lower: [lower]
        }
      })
    ],
  };
  var responsiveOpts = {};
  new Chartist.Line(container, chartData, chartOpts);
})();
</script>
