<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="{{ page.language }}" dir="{{ site.data.i18n-base[page.language].lang-dir }}"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ page.language }}" dir="{{ site.data.i18n-base[page.language].lang-dir }}">
<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		{% include base/pagetitle.html %}
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta name="description" content="{% if page.description == null or page.description == '' %}{{ site.data.i18n-base[page.language].site-title }}{% else %}{{ page.description }}{% endif %}" />
		{% include base/headresources.html %}
	</head>
	<body vocab="http://schema.org/" typeof="WebPage">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTB8LN5"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
		<ul id="wb-tphp" role="navigation" aria-label="Keyboard-only menu">
			<li class="wb-slc">
				<a class="wb-sl" href="#wb-cont">{{ site.data.i18n-base[page.language].tmpl-skip-cont }}</a>
			</li>
{% unless page.footer == "false" %}
			<li class="wb-slc visible-sm visible-md visible-lg">
				<a class="wb-sl" href="#wb-info">{{ site.data.i18n-base[page.language].tmpl-skip-about-site }}</a>
			</li>
{% endunless %}
{% if page.secondarymenu == "true" %}
			<li class="wb-slc visible-md visible-lg">
				<a class="wb-sl" href="#wb-sec">{{ site.data.i18n-base[page.language].tmpl-skip-section }}</a>
			</li>
{% endif %}
		</ul>
		<header>
			<div id="wb-bnr" class="container">
				<div class="row">
					{% include theme-base/brand.html %}
				</div>
			</div>
		</header>

{% if page.secondarymenu == "true" %}
		<div class="container">
			<div class="row">
{% endif %}
		<main role="main" property="mainContentOfPage" class="{% if page.secondarymenu == "true" %}col-md-9 col-md-push-3{% else %}container-fluid{% endif %}">
			<h1 id="wb-cont" class="wb-inv" property="name">{{ page.title }}</h1>
			<!-- Put some margin in here -->
			{% include base/contentbuttons.html %}
			{{ content }}
{% if page.modified == null or page.modified == '' %}
{% else %}
			{% include base/datemodified.html %}
{% endif %}
		</main>
{% if page.secondarymenu == "true" %}
				<nav role="navigation" id="wb-sec" typeof="SiteNavigationElement" class="col-md-3 col-md-pull-9 visible-md visible-lg">
					<h2>{{ site.data.i18n-base[page.language].tmpl-section-menu }}</h2>
					{% include base/secondarymenu.html %}
				</nav>
			</div>
		</div>
{% endif %}

{% unless page.footer == "false" %}
		<footer role="contentinfo" class="nav-footer">
			<div class="container-fluid">
        <div class="row">
          <div id="wb-info" class="col-sm-6 col-sm-offset-3 text-center">
            <p class="mrgn-tp-sm">&copy; {{ site.copyright_date }} Health Analytics, Research &amp; Policy Team</a>.
            <nav role="navigation" class="wb-navcurr" aria-labelledby="ft-nav-name">
              <h2 id="ft-nav-name">{{ site.data.i18n-base[page.language].tmpl-about-site }}</h2>
              {% include theme-base/footer.html %}
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            {% include theme-base/social.html %}
          </div>
        </div>
			</div>
		</footer>
{% endunless %}
		{% include base/footerresources.html %}
	</body>
</html>
